@page "/applicants"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using PetAdoptionManagement.Components.Domain
@using PetAdoptionManagement.Data
@implements IAsyncDisposable
@inject IDbContextFactory<PetAdoptionManagement.Data.PetAdoptionManagementContext> DbFactory

<PageTitle>Applicants</PageTitle>

<h1>Applicants:</h1>

<p>
    <a href="applicants/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Applicant">
    <PropertyColumn Property="applicant => applicant.Name" />
    <PropertyColumn Property="applicant => applicant.Email" />
    <PropertyColumn Property="applicant => applicant.Age" />
    <PropertyColumn Property="applicant => applicant.Address" />
    <PropertyColumn Property="applicant => applicant.PhoneNumber" />
    <PropertyColumn Property="applicant => applicant.ReviewStatus" />
    <PropertyColumn Property="applicant => applicant.UserId" />

    <TemplateColumn Context="applicant">
        <a href="@($"applicants/edit?id={applicant.Id}")">Edit</a> |
        <a href="@($"applicants/details?id={applicant.Id}")">Details</a> |
        <a href="@($"applicants/delete?id={applicant.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private PetAdoptionManagementContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
