@page "/application"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using PetAdoptionManagement.Components.Domain
@using PetAdoptionManagement.Data
@implements IAsyncDisposable
@inject IDbContextFactory<PetAdoptionManagement.Data.PetAdoptionManagementContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="applications/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Application">
    <PropertyColumn Property="application => application.DateCreated" />
    <PropertyColumn Property="application => application.ReviewStatus" />
    <PropertyColumn Property="application => application.CreatedBy" />
    <PropertyColumn Property="application => application.PetID" />
    <PropertyColumn Property="application => application.UserId" />
    <PropertyColumn Property="application => application.ReasonForAdoption" />
    <PropertyColumn Property="application => application.LivingSituation" />
    <PropertyColumn Property="application => application.OtherPets" />
    <PropertyColumn Property="application => application.PetExperience" />
</QuickGrid>

@code {
    private PetAdoptionManagementContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}